main {
  padding: 32px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-icon {
  height: 50px;
  width: 50px;

  background-image: url(../assets/yuna.png);
  background-size: cover;
  border-radius: 50%;
}

nav > a {
  padding-left: 32px;
  padding-right: 32px;
  border: 1px solid;
}

.banner-container {
  height: 350px;
  width: 100%;
  border: 1px solid;
}

.profile-content {
  display: flex;
  justify-content: space-evenly;
}

.profile-item {
  text-align: center;
}

.profile-icon {
  height: 50px;
  width: 50px;

  background-size: cover;
  border-radius: 50%;
}

.profile-1 {
  background-image: url(../assets/yuna1.png);
}

.profile-2 {
  background-image: url(../assets/chy.png);
}

.profile-3 {
  background-image: url(../assets/pixells.png);
}

.profile-4 {
  background-image: url(../assets/mody.png);
}

.profile-5 {
  background-image: url(../assets/muridh.png);
}

.profile-6 {
  background-image: url(../assets/april.png);
}

.profile-7 {
  background-image: url(../assets/aiko.png);
}

.profile-8 {
  background-image: url(../assets/deska.png);
}

.profile-9 {
  background-image: url(../assets/hinaru.png);
}

.divider {
  flex: 2;
}
@media only screen and(max-width:320px) {
  .nav-container {
    flex-direction: column;
  }
}
