main {
  padding: 32px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-icon {
  height: 50px;
  width: 50px;

  background-image: url(../assets/yuna.png);
  background-size: cover;
  border-radius: 50%;
}

nav > a {
  padding-left: 32px;
  padding-right: 32px;
  border: 1px solid;
}

.banner-container {
  height: 350px;
  width: 100%;
  border: 1px solid;
}

.profile-content {
  display: flex;
  justify-content: space-evenly;
}

.profile-item {
  text-align: center;
}

.profile-icon {
  height: 50px;
  width: 50px;

  background-size: cover;
  border-radius: 50%;
}

.profile-1 {
  background-image: url(../assets/yuna.png);
}

.profile-2 {
  background-image: url(../assets/yuna2.png);
}

.profile-3 {
  background-image: url(../assets/yuna3.png);
}
